body {
  font-family: sans-serif;
  padding: 20px;
}

input {
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #aaa;
  padding: 5px;
  text-align: center;
}
